---
import {SITE_TITLE} from "../consts";
import Layout from "../layouts/Layout.astro";
import HeaderHero from '../components/HeaderHero.astro';
---


<Layout title={SITE_TITLE}>
    <main>
        <HeaderHero>
            <span slot="title">About</span>
            <span slot="description">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</span>
        </HeaderHero>
    </main>
</Layout>
