---
import Speaker from '../components/Speaker.astro'
import {SITE_TITLE} from "../consts";
import Layout from "../layouts/Layout.astro";
import HeaderHero from '../components/HeaderHero.astro';
import {type ISpeaker} from "../models/speaker.model";

const speakers: Array<ISpeaker> = [
    {name: 'Jane Doe', description: 'Senior Software Engineer at XX • GitHub Star'},
    {name: 'Jane Doe', description: 'Senior Software Engineer at XX • GitHub Star'},
    {name: 'Jane Doe', description: 'Senior Software Engineer at XX • GitHub Star'},
    {name: 'Jane Doe', description: 'Senior Software Engineer at XX • GitHub Star'},
    {name: 'Jane Doe', description: 'Senior Software Engineer at XX • GitHub Star'},
    {name: 'Jane Doe', description: 'Senior Software Engineer at XX • GitHub Star'},
];
---


<Layout title={SITE_TITLE}>
    <main>
        <HeaderHero>
            <span slot="title">Speakers</span>
            <span slot="description">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</span>
        </HeaderHero>

        <ul class="flex flex-wrap justify-center gap-x-20 gap-y-8 mt-12 max-w-screen-lg m-auto">
            {speakers.map(speaker =>
                    <li>
                        <a href={speaker.name}>
                            <Speaker speaker={speaker}/>
                        </a>
                    </li>)}
        </ul>
    </main>
</Layout>
